<div id="home-contents">
  <div class="contents-page">
    <div class="block-wrapper">
      <h3 class="ml-3">Câu hỏi thường gặp</h3>
      <section class="row promotion-group">
        <div id="accordion-faq" class="panel-group">
          <div class="panel panel-default">
            <div id="heading_d112e419-2afb-4f37-bab7-af8ede149547" class="panel-heading">
              <div class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion"
                                          href="#collapse_d112e419-2afb-4f37-bab7-af8ede149547" aria-expanded="true"
                                          aria-controls="collapse_d112e419-2afb-4f37-bab7-af8ede149547"
                                          class="collapsed"><i class="more-less glyphicon glyphicon-plus"></i>
                <div class="panel-content">Tôi có thể dùng tài khoản thành viên của mình để mua vé nhóm được không?
                </div>
              </a>
              </div>
            </div>
            <div id="collapse_d112e419-2afb-4f37-bab7-af8ede149547" role="tabpanel" aria-labelledby="headingOne"
                 class="panel-collapse collapse">
              <div class="panel-body content-text"><p></p>
                <ul>
                  <li><!--| -->Bạn có thể cung cấp mã barcode trên mobile app/thẻ thành viên trong quá trình giao dịch
                    mua vé nhóm để được tích điểm bạn nhé, tuy nhiên mỗi tài khoản chỉ áp dụng giá vé thành viên tối đa
                    8 vé/ngày bạn nhé.
                  </li>
                </ul>
                <p></p></div>
            </div>
          </div>
          <div class="panel panel-default">
            <div id="heading_bcf53d6e-cf24-4d6e-aad2-8d2732524d5f" class="panel-heading">
              <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion"
                                          href="#collapse_bcf53d6e-cf24-4d6e-aad2-8d2732524d5f" aria-expanded="true"
                                          aria-controls="collapse_bcf53d6e-cf24-4d6e-aad2-8d2732524d5f"
                                          class="collapsed"><i class="more-less glyphicon glyphicon-plus"></i>
                <div class="panel-content">Làm sao để đặt vé online?</div>
              </a></div>
            </div>
            <div id="collapse_bcf53d6e-cf24-4d6e-aad2-8d2732524d5f" role="tabpanel" aria-labelledby="headingOne"
                 class="panel-collapse collapse">
              <div class="panel-body content-text"><p></p>
                <p><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;"><strong>&nbsp;Bước 1: </strong>Bạn truy cập vào Website/App của Galaxy, đăng nhập tài khoản thành viên trước khi mua vé để hệ thống tích điểm vào tài khoản thành viên của bạn.<br>
<strong>Bước 2:</strong> Bạn vào mục Mua vé đối với Website/chọn Phim đang chiếu đối với App, bạn chọn Phim -&gt; chọn Rạp -&gt; chọn Suất chiếu -&gt; chọn Số lượng ghế (tối đa 8 ghế cho một giao dịch/Combo bắp nước -&gt; chọn Ghế -&gt; tiến hành thanh toán.&nbsp;&nbsp;&nbsp;</span></span>
                </p>

                <p><span style="font-size:14px;"><span
                  style="font-family:Arial,Helvetica,sans-serif;"><strong>Bước 3:</strong> Khi đến bước thanh toán, bạn chọn loại thẻ:<br>
•&nbsp;&nbsp; &nbsp;Đối với thẻ ATM, bạn chọn cổng thanh toán Zalopay/Onepay (tài khoản Ngân hàng đã đăng ký dịch vụ internet banking) -&gt; bạn nhập một số thông tin tài khoản Ngân hàng như Tên chủ thẻ, Mã số thẻ, Tên đăng nhập…. sau đó nhập mã OTP để hoàn tất giai đoạn thanh toán bạn nhé.<br>
•&nbsp;&nbsp; &nbsp;Đối với thẻ Visa/Master/JCB, bạn chọn cổng thanh toán Zalopay, chọn mục CC, Visa/Master/JCB, bạn nhập một số thông tin tài khoản Ngân hàng như Tên chủ thẻ, Mã số thẻ, Tên đăng nhập…. sau đó nhập mã OTP để hoàn tất giai đoạn thanh toán bạn nhé.</span></span>
                </p>

                <p><span style="font-size:14px;"><span
                  style="font-family:Arial,Helvetica,sans-serif;"><strong>Bước 4:</strong> Sau 15-20 phút bạn vẫn chưa nhận được thông tin xác nhận đặt vé được gửi đến SĐT đặt vé/Email đặt vé, bạn vui lòng liên hệ với hotline của Galaxy theo số: 19002224 hoặc gửi thông tin (thông tin bao gồm: Tên, SĐT đặt vé, Tên phim – Suất chiếu – Cụm rạp, Cổng thanh toán và Số tiền thanh toán) đến địa chỉ Email: hotro@galaxy.com.vn để được hỗ trợ bạn nhé.</span></span>
                </p>

                <p>&nbsp;</p>
                <p></p></div>
            </div>
          </div>
          <div class="panel panel-default">
            <div id="heading_7f99a945-3dd6-4cda-950c-dde7f172732e" class="panel-heading">
              <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion"
                                          href="#collapse_7f99a945-3dd6-4cda-950c-dde7f172732e" aria-expanded="true"
                                          aria-controls="collapse_7f99a945-3dd6-4cda-950c-dde7f172732e"
                                          class="collapsed"><i class="more-less glyphicon glyphicon-plus"></i>
                <div class="panel-content">Làm sao để khiếu nại hoặc góp ý với Galaxy?</div>
              </a></div>
            </div>
            <div id="collapse_7f99a945-3dd6-4cda-950c-dde7f172732e" role="tabpanel" aria-labelledby="headingOne"
                 class="panel-collapse collapse">
              <div class="panel-body content-text"><p></p>
                <p><span style="font-family:Arial,Helvetica,sans-serif;"><!--| --><span style="font-size:14px;">-&nbsp;&nbsp; &nbsp;Khi có bất kỳ khiếu nại, hoặc vấn đề phát sinh với dịch vụ của Galaxy Cinema, quý khách vui lòng gọi hotline 19002224 hoặc gửi thông tin đến email: hotro@galaxy.com.vn hoặc gửi tin nhắn đến fanpage Facebook chính thức của Galaxy Cinema tại địa chỉ: https://facebook.com/galaxycine.vn </span></span>
                </p>
                <p></p></div>
            </div>
          </div>
          <div class="panel panel-default">
            <div id="heading_a89c75ea-762c-49ab-9d37-42d79febf598" class="panel-heading">
              <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion"
                                          href="#collapse_a89c75ea-762c-49ab-9d37-42d79febf598" aria-expanded="true"
                                          aria-controls="collapse_a89c75ea-762c-49ab-9d37-42d79febf598"
                                          class="collapsed"><i class="more-less glyphicon glyphicon-plus"></i>
                <div class="panel-content">Thanh toán online đã bị trừ tiền nhưng không nhận được mã đặt vé?</div>
              </a></div>
            </div>
            <div id="collapse_a89c75ea-762c-49ab-9d37-42d79febf598" role="tabpanel" aria-labelledby="headingOne"
                 class="panel-collapse collapse">
              <div class="panel-body content-text"><p></p>
                <ul>
                  <li><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;">&nbsp;Bạn có thể inbox qua fanpage Facebook chính thức của Galaxy Cinema tại địa chỉ https://facebook.com/galaxycine.vn hoặc liên hệ với hotline 19002224 để được hỗ trợ bạn nhé (Thời gian làm việc từ 8:00 đến 22:00 hàng ngày)</span></span>
                  </li>
                  <li><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;">Cập nhật lại thời gian của thẻ ATM từ 7 đến 15 ngày làm việc, thẻ Visa/Master từ 7 đến 45 ngày làm việc (không tính Cuối tuần và Ngày Lễ)</span></span>
                  </li>
                </ul>
                <p></p></div>
            </div>
          </div>
          <div class="panel panel-default">
            <div id="heading_d580291a-a955-4c2f-9675-7eee67e5006a" class="panel-heading">
              <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion"
                                          href="#collapse_d580291a-a955-4c2f-9675-7eee67e5006a" aria-expanded="true"
                                          aria-controls="collapse_d580291a-a955-4c2f-9675-7eee67e5006a"
                                          class="collapsed"><i class="more-less glyphicon glyphicon-plus"></i>
                <div class="panel-content">Tôi có thể hủy hoặc thay đổi thông tin của vé đã mua online được không?</div>
              </a></div>
            </div>
            <div id="collapse_d580291a-a955-4c2f-9675-7eee67e5006a" role="tabpanel" aria-labelledby="headingOne"
                 class="panel-collapse collapse">
              <div class="panel-body content-text"><p></p>
                <p><span style="font-family:Arial,Helvetica,sans-serif;"><!--| --><span style="font-size:14px;">Theo quy định của Galaxy vé đã mua thành công rồi thì không thể hủy/thay đổi thông tin được ạ. Tuy nhiên, trong trường hợp bạn không thể sắp xếp xem đúng suất chiếu mà bạn đã đặt nhầm, bạn vui lòng mang mã đặt vé đến trực tiếp tại rạp trước suất chiếu và liên hệ Ban quản lý để được hỗ trợ bạn nhé.</span></span>
                </p>
                <p></p></div>
            </div>
          </div>
          <div class="panel panel-default">
            <div id="heading_5c7daccf-f2ca-43e3-8c14-7e631cb7c680" class="panel-heading">
              <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion"
                                          href="#collapse_5c7daccf-f2ca-43e3-8c14-7e631cb7c680" aria-expanded="true"
                                          aria-controls="collapse_5c7daccf-f2ca-43e3-8c14-7e631cb7c680"
                                          class="collapsed"><i class="more-less glyphicon glyphicon-plus"></i>
                <div class="panel-content">Vé liệt kê trên Website áp dụng cho đối tượng nào?</div>
              </a></div>
            </div>
            <div id="collapse_5c7daccf-f2ca-43e3-8c14-7e631cb7c680" role="tabpanel" aria-labelledby="headingOne"
                 class="panel-collapse collapse">
              <div class="panel-body content-text"><p></p>
                <ul>
                  <li>&nbsp;&nbsp;&nbsp; Trên Website của Galaxy tại mục Rạp/Giá vé thể hiện tất cả các loại giá vé của
                    Rạp, do mỗi Rạp có mỗi giá vé khác nhau nên bạn vui lòng chọn Rạp để tham khảo giá vé nhé.
                  </li>
                  <li>&nbsp;&nbsp;&nbsp; Tuy nhiên khi bạn thực hiện mua vé online thì hệ thống chỉ thể hiện giá vé
                    Người lớn và giá vé Thành viên (bạn vui lòng đăng nhập tài khoản thành viên). Đối với các loại giá
                    vé U22/Trẻ em cần có giấy tờ xác minh độ tuổi/chiều cao nên chỉ áp dụng trực tiếp tại rạp thôi bạn
                    nhé.
                  </li>
                </ul>
                <p></p></div>
            </div>
          </div>
          <div class="panel panel-default">
            <div id="heading_3416a5c3-04e6-4b94-95bf-e835340ae5a8" class="panel-heading">
              <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion"
                                          href="#collapse_3416a5c3-04e6-4b94-95bf-e835340ae5a8" aria-expanded="true"
                                          aria-controls="collapse_3416a5c3-04e6-4b94-95bf-e835340ae5a8"
                                          class="collapsed"><i class="more-less glyphicon glyphicon-plus"></i>
                <div class="panel-content">Khi mua vé online tôi có được tích điểm hay không?</div>
              </a></div>
            </div>
            <div id="collapse_3416a5c3-04e6-4b94-95bf-e835340ae5a8" role="tabpanel" aria-labelledby="headingOne"
                 class="panel-collapse collapse">
              <div class="panel-body content-text"><p></p>
                <ul>
                  <li><!--| -->Khi bạn mua vé online trên Web/App của Galaxy, bạn vui lòng đăng nhập tài khoản thành
                    viên của Galaxy để hệ thống tích điểm vào tài khoản của bạn nhé. Hệ thống Galaxy sẽ không tích điểm
                    được khi bạn thực hiện mua vé online tại Web/App của 123Phim, Momo….
                  </li>
                </ul>
                <p></p></div>
            </div>
          </div>
          <div class="panel panel-default">
            <div id="heading_1f9bdc17-e1ec-4d3d-91cf-4e50ca56a64f" class="panel-heading">
              <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion"
                                          href="#collapse_1f9bdc17-e1ec-4d3d-91cf-4e50ca56a64f" aria-expanded="true"
                                          aria-controls="collapse_1f9bdc17-e1ec-4d3d-91cf-4e50ca56a64f"
                                          class="collapsed"><i class="more-less glyphicon glyphicon-plus"></i>
                <div class="panel-content">Trường hợp tôi có nhiều tài khoản thành viên, tôi có thể tích các Star vào 1
                  tài khoản không?
                </div>
              </a></div>
            </div>
            <div id="collapse_1f9bdc17-e1ec-4d3d-91cf-4e50ca56a64f" role="tabpanel" aria-labelledby="headingOne"
                 class="panel-collapse collapse">
              <div class="panel-body content-text"><p></p>
                <ul>
                  <li><!--| -->Số Star của mỗi tài khoản sẽ không được tích gộp vào 1 tài khoản bạn nhé.</li>
                </ul>
                <p></p></div>
            </div>
          </div>
          <div class="panel panel-default">
            <div id="heading_9defe703-a634-4680-9acb-804098bc0ac9" class="panel-heading">
              <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion"
                                          href="#collapse_9defe703-a634-4680-9acb-804098bc0ac9" aria-expanded="true"
                                          aria-controls="collapse_9defe703-a634-4680-9acb-804098bc0ac9"
                                          class="collapsed"><i class="more-less glyphicon glyphicon-plus"></i>
                <div class="panel-content">Trường hợp để kiểm tra số lượng Stars trong tài khoản, tôi phải liên hệ ai?
                </div>
              </a></div>
            </div>
            <div id="collapse_9defe703-a634-4680-9acb-804098bc0ac9" role="tabpanel" aria-labelledby="headingOne"
                 class="panel-collapse collapse">
              <div class="panel-body content-text"><p></p>
                <p><!--| --></p>

                <ul>
                  <li>&nbsp;Bạn vui lòng gọi hotline 19002224 hoặc gửi thông tin đến email: hotro@galaxy.com.vn hoặc gửi
                    tin nhắn đến fanpage Facebook chính thức của Galaxy Cinema tại địa chỉ:
                    https://facebook.com/galaxycine.vn cung cấp mã thẻ thành viên/SĐT tài khoản để được hỗ trợ bạn nhé.
                  </li>
                  <li>&nbsp;Bên cạnh bạn cũng có thể đăng nhập tài khoản thành viên tại Web/App của Galaxy, vào mục Tài
                    khoản -&gt; Giao dịch để kiểm tra số Star và lịch sử giao dịch.
                  </li>
                </ul>

                <p>&nbsp;</p>
                <p></p></div>
            </div>
          </div>
          <div class="panel panel-default">
            <div id="heading_4f975efb-fb4f-4860-b9ae-13e5c2bc48a5" class="panel-heading">
              <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion"
                                          href="#collapse_4f975efb-fb4f-4860-b9ae-13e5c2bc48a5" aria-expanded="true"
                                          aria-controls="collapse_4f975efb-fb4f-4860-b9ae-13e5c2bc48a5"
                                          class="collapsed"><i class="more-less glyphicon glyphicon-plus"></i>
                <div class="panel-content">Làm thế nào để sử dụng số Stars trong tài khoản để đổi quà?</div>
              </a></div>
            </div>
            <div id="collapse_4f975efb-fb4f-4860-b9ae-13e5c2bc48a5" role="tabpanel" aria-labelledby="headingOne"
                 class="panel-collapse collapse">
              <div class="panel-body content-text"><p></p>
                <p><!--| --></p>

                <ul>
                  <li>&nbsp; Bạn vui lòng xuất trình mã barcode trên mobile app/thẻ thành viên tại Quầy vé/Quầy bắp nước
                    để đổi phần quà theo nhu cầu sử dụng bạn nhé.
                  </li>
                  <li>&nbsp;&nbsp; Bạn có thể đổi phần quà tương ứng với số Star như sau:</li>
                </ul>

                <p style="text-align: center;"><img alt="" src="/media/2019/12/19/cs-doi-qua_1576745923212.jpg"
                                                    width="600" height="329"></p>

                <ul>
                  <li>&nbsp; Sau khi bạn tiến hành đổi phần quà tương ứng với số Star thì hệ thống sẽ tự động trừ số
                    Star tương ứng trong tài khoản thành viên của bạn.
                  </li>
                </ul>

                <p>&nbsp;</p>
                <p></p></div>
            </div>
          </div>
          <div class="panel panel-default">
            <div id="heading_2cc86284-a6b2-41ac-9174-71d97466c62a" class="panel-heading">
              <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion"
                                          href="#collapse_2cc86284-a6b2-41ac-9174-71d97466c62a" aria-expanded="true"
                                          aria-controls="collapse_2cc86284-a6b2-41ac-9174-71d97466c62a"
                                          class="collapsed"><i class="more-less glyphicon glyphicon-plus"></i>
                <div class="panel-content">Làm thế nào để tích lũy Stars?</div>
              </a></div>
            </div>
            <div id="collapse_2cc86284-a6b2-41ac-9174-71d97466c62a" role="tabpanel" aria-labelledby="headingOne"
                 class="panel-collapse collapse">
              <div class="panel-body content-text"><p></p>
                <p><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;">Với mỗi 10.000VND khi chi tiêu tại Galaxy bạn sẽ tích lũy tương ứng với 1 Star trong tài khoản thành viên của bạn. Bạn vui lòng xuất trình tài khoản thành viên tại rạp hoạc đăng nhập tài khoản trên Web/App của Galaxy khi tiến hành giao dịch bạn nhé.</span></span>
                </p>
                <p></p></div>
            </div>
          </div>
          <div class="panel panel-default">
            <div id="heading_1a053b7e-6c06-437e-9795-ef95e495c7c3" class="panel-heading">
              <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion"
                                          href="#collapse_1a053b7e-6c06-437e-9795-ef95e495c7c3" aria-expanded="true"
                                          aria-controls="collapse_1a053b7e-6c06-437e-9795-ef95e495c7c3"
                                          class="collapsed"><i class="more-less glyphicon glyphicon-plus"></i>
                <div class="panel-content">Thẻ thành viên Star/G-Star/X-Star có gì khác nhau?</div>
              </a></div>
            </div>
            <div id="collapse_1a053b7e-6c06-437e-9795-ef95e495c7c3" role="tabpanel" aria-labelledby="headingOne"
                 class="panel-collapse collapse">
              <div class="panel-body content-text"><p></p>
                <p style="text-align: center;"><!--| --><img alt=""
                                                             src="/media/2019/12/19/bangquyenloi_1576745578870.jpg"
                                                             width="600" height="302"></p>
                <p></p></div>
            </div>
          </div>
          <div class="panel panel-default">
            <div id="heading_76f42f20-5caf-4b15-b137-117ea7984e2c" class="panel-heading">
              <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion"
                                          href="#collapse_76f42f20-5caf-4b15-b137-117ea7984e2c" aria-expanded="true"
                                          aria-controls="collapse_76f42f20-5caf-4b15-b137-117ea7984e2c"
                                          class="collapsed"><i class="more-less glyphicon glyphicon-plus"></i>
                <div class="panel-content">Công dụng của thẻ thành viên Star/G-Star/X-Star?</div>
              </a></div>
            </div>
            <div id="collapse_76f42f20-5caf-4b15-b137-117ea7984e2c" role="tabpanel" aria-labelledby="headingOne"
                 class="panel-collapse collapse">
              <div class="panel-body content-text"><p></p>
                <ul>
                  <li>Xuất trình barcode trên mobile app/thẻ thành viên tại rạp hoặc đăng nhập tài khoản thành viên khi
                    mua vé online để được áp dụng giá vé thành viên.
                  </li>
                  <li>&nbsp;Xuất trình barcode trên mobile app/thẻ thành viên khi giao dịch tại rạp hoặc đăng nhập tài
                    khoản khi mua vé online, bạn sẽ nhận được số điểm tích lũy tương ứng với số tiền chi tiêu. Điểm
                    thưởng này dùng để đổi các phần quà từ Galaxy. Bên cạnh, khi bạn cung cấp thông tin thành viên tại
                    quầy bắp nước sẽ được giảm giá theo hạng mức của tài khoản thành viên.
                  </li>
                  <li>&nbsp;Ngoài ra, với lịch sử giao dịch của bạn sẽ giúp Galaxy có cơ hội hiểu rõ hơn về bạn và từ đó
                    chúng tôi sẽ đưa ra được các chương trình khuyến mãi phù hợp và gửi đến bạn những thông tin các bộ
                    phim bạn yêu thích.
                  </li>
                </ul>

                <p>&nbsp;</p>
                <p></p></div>
            </div>
          </div>
          <div class="panel panel-default">
            <div id="heading_cafff4fd-5c86-415b-aec4-90bf215b64b3" class="panel-heading">
              <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion"
                                          href="#collapse_cafff4fd-5c86-415b-aec4-90bf215b64b3" aria-expanded="true"
                                          aria-controls="collapse_cafff4fd-5c86-415b-aec4-90bf215b64b3"
                                          class="collapsed"><i class="more-less glyphicon glyphicon-plus"></i>
                <div class="panel-content">Làm thế nào để duy trì hạn mức G-Star/X-Star?</div>
              </a></div>
            </div>
            <div id="collapse_cafff4fd-5c86-415b-aec4-90bf215b64b3" role="tabpanel" aria-labelledby="headingOne"
                 class="panel-collapse collapse">
              <div class="panel-body content-text"><p></p>
                <ul>
                  <li><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;">Đối với hạng mức G-Star: bạn cần chi tiêu từ 2,000,000 VND đến 3,999,999 VND (tính từ ngày 01/01/2020 đến 31/12/2020)</span></span>
                  </li>
                  <li><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;">Đối với hạng mức X-Star: bạn cần chi tiêu từ 4,000,000 VND trở lên (tính từ ngày 01/01/2010 đến 31/12/2020)</span></span>
                  </li>
                </ul>

                <p>&nbsp;</p>
                <p></p></div>
            </div>
          </div>
          <div class="panel panel-default">
            <div id="heading_73246b5c-ec76-4ad4-9f19-b39439e48c1a" class="panel-heading">
              <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion"
                                          href="#collapse_73246b5c-ec76-4ad4-9f19-b39439e48c1a" aria-expanded="true"
                                          aria-controls="collapse_73246b5c-ec76-4ad4-9f19-b39439e48c1a"
                                          class="collapsed"><i class="more-less glyphicon glyphicon-plus"></i>
                <div class="panel-content">Thông Tin Liên Hệ</div>
              </a></div>
            </div>
            <div id="collapse_73246b5c-ec76-4ad4-9f19-b39439e48c1a" role="tabpanel" aria-labelledby="headingOne"
                 class="panel-collapse collapse">
              <div class="panel-body content-text"><p></p>
                <p><strong>CÔNG TY CỔ PHẦN PHIM THIÊN NGÂN:</strong></p>

                <ul>
                  <li><strong>Hotline:</strong>&nbsp;&nbsp;<a href="tel:1900 2224">19002224</a></li>
                  <li><strong>Văn phòng Hà Nội:</strong></li>
                </ul>

                <p>Địa chỉ: Tòa nhà mặt trời sông hồng số 23 Phan Chu Trinh, phường Phan Chu Trinh, quận Hoàn Kiếm,
                  TP.Hà Nội</p>

                <p>Điện thoại: (84-4) 3974 6122</p>

                <p>Fax: (84-4) 3974 6121</p>

                <ul>
                  <li><strong>Văn phòng Tp. Hồ Chí Minh</strong></li>
                </ul>

                <p>Địa chỉ: 63A - Võ Văn Tần - Phường 6 - Quận 3, TP.Hồ Chí Minh</p>

                <p>Điện thoại: (84-8) 3933 3303</p>

                <p>Fax: (84-8) 3930 8697</p>

                <p>Hoặc quý khách hàng có thể gởi email trực tiếp về&nbsp;<b><i><a href="mailto:hotro@galaxy.com.vn"
                                                                                   target="_blank">hotro@galaxy.com.vn</a>,
                </i></b>Galaxy Cinema sẽ kiểm tra và phàn hồi thắc mắc của quý khách nhanh nhất có thể.</p>
                <p></p></div>
            </div>
          </div>
          <div class="panel panel-default">
            <div id="heading_83bab64f-dd59-4532-ae04-e37f8971714c" class="panel-heading">
              <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion"
                                          href="#collapse_83bab64f-dd59-4532-ae04-e37f8971714c" aria-expanded="true"
                                          aria-controls="collapse_83bab64f-dd59-4532-ae04-e37f8971714c"
                                          class="collapsed"><i class="more-less glyphicon glyphicon-plus"></i>
                <div class="panel-content">Thẻ thành viên Star/G-Star/X-Star có hết hạn sử dụng không?</div>
              </a></div>
            </div>
            <div id="collapse_83bab64f-dd59-4532-ae04-e37f8971714c" role="tabpanel" aria-labelledby="headingOne"
                 class="panel-collapse collapse">
              <div class="panel-body content-text"><p></p>
                <p><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;">Sau khi đăng ký tài khoản thành viên, điểm tích lũy của bạn (Star) sẽ được sử dụng trong năm (tính từ ngày 01/01/2020 đến 31/12/2020), sau thời gian 01 năm, <strong>điểm tích lũy (Star) sẽ trừ khỏi tài khoản thành viên</strong>.</span></span>
                </p>
                <p></p></div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
