<div class="container-fluid" id="fluid">
  <div id="follow-div" class="row m-0 p-0">
    <div class="follow col-lg-3 col-md-3">
      <p class="follow-title">chọn phim</p>
    </div>
    <div class="follow col-lg-3 col-md-3">
      <p class="follow-title">chọn ghế</p>
    </div>
    <div class="follow col-lg-3 col-md-3">
      <p class="follow-title" (click)="back()">xác nhận đặt vé</p>
    </div>
    <div class="follow col-lg-3 col-md-3">
      <p class="follow-title" id="active">thông tin đặt vé</p>
    </div>
  </div>

  <!--  <hr class="d-inline-block"-->
  <!--      style="width: 99%; height: 1px; background-color: lightgray">-->


</div>
