
<div class="container-fluid">
  <div class="row">
    <!--    account-manager start-->
    <div class=" container-fluid  col-lg-4" style="background-color:rgba(168,162,161,0.15)">
      <!--            <div class="card" style="border-style: solid; border-color: coral">-->
      <div class="card-title">QUẢN LÝ TÀI KHOẢN</div>
      <div class="card-body">
        <div style="text-align:center">
          <ul>
            <li><a href="https://vnexpress.net/"><img class="avatar "
                                                      style="width: 120px; height: 120px"
                                                      src="img2/chim.jpg" alt=""></a></li>
            <li><h3 style="color: coral">Jack</h3></li>
            <li>Điểm Tích Lũy: 1000</li>
            <li>
              <button type="submit" class="btn btn-primary">Đăng Xuất</button>
            </li>
          </ul>
        </div>
        <br>
        <br>
        <div>
          <button class=" w3-button "><i class="fas fa-user"></i> THÔNG TIN TÀI KHOẢN</button>
        </div>
        <div>
          <button class="w3-button "><i class="fas fa-history"></i> LỊCH SỬ</button>
        </div>
        <div>
          <button class=" w3-button "><i class="fas fa-ticket-alt"></i> QUẢN LÝ ĐẶT VÉ</button>
        </div>
      </div>
      <!--            </div>-->
    </div>
    <!--    account-manager end-->
    <div class="container-fluid col-lg-8">
      <!--            <div class="card" style="border-style: solid; border-color: coral">-->
      <div class="card-title">VÉ ĐÃ ĐẶT</div>
      <div class="card-body">
        <div>

          <table class="table table-hover">
            <thead>
            <tr>
              <th>STT</th>
              <th>Hình Ảnh</th>
              <th>Tên Phim</th>
              <th>Ngày Đặt</th>
              <th>Tổng Tiền</th>
              <th>Trạng Thái</th>
              <th>Chức Năng</th>

            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td><img style="width: 100px;height: 60px" src="img2/Bay_rong.jpg" alt=""></td>
              <td> Bẫy Rồng</td>
              <td>10/06/2021</td>
              <td>180.000đ</td>
              <td><span class="badge badge-success">Đã Nhận Vé</span></td>
              <td>
                <button class="btn btn-danger" disabled data-toggle="modal"
                        data-target="#exampleModalCenter">Hủy
                </button>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td><img style="width: 100px;height: 60px" src="" alt=""></td>
              <td> Đội Bóng Thiếu Lâm</td>
              <td>11/06/2021</td>
              <td>160.000đ</td>
              <td><span class="badge badge-primary">Đợi Nhận Vé</span></td>
              <td>
                <button type="submit" class="btn btn-danger" data-toggle="modal"
                        data-target="#exampleModalCenter">Hủy
                </button>
              </td>
            </tr>
            </tbody>
          </table>
          <nav aria-label="..." style="float: right">
            <ul class="pagination">
              <li class="page-item disabled">
                <span class="page-link">Đầu </span>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active">
                             <span class="page-link">2
                                 <span class="sr-only">(current)</span>
                             </span>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Sau</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!--            </div>-->
      <br>

    </div>
  </div>
</div>
<!-- Modal delete start-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title deleteUser" id="exampleModalLongTitle">Hủy Vé</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="textErrModal">Bạn có muốn hủy bộ phim này không, thao tác này không được hoàn trả
          lại !</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy Vé</button>
        <button type="button" class="btn btn-secondary">Thoát</button>
      </div>
    </div>
  </div>
</div>

<!--modal delete end-->
