
  <!--            <div class="card" style="border-style: solid; border-color: coral">-->
  <div class="card-title">QUẢN LÝ TÀI KHOẢN</div>
  <div class="card-body">

    <div style="text-align:center">
      <ul>
        <li><img class="avatar" [src]="user.avatarUrl"
                 style="width: 120px; height: 120px">
        </li>

        <li>{{username}}</li>
        <li >Điểm Tích Lũy:{{accounts.point}}</li>
        <li>
          <button type="submit" class="btn btn-primary">Đăng Xuất</button>
        </li>
      </ul>
    </div>

    <br>
    <br>
    <div>
      <a routerLink="/member/info">
        <button class=" w3-button "><i class="fas fa-user"></i> THÔNG TIN TÀI KHOẢN</button>
      </a>
    </div>
    <div>
      <a routerLink="/member/history">
        <button class="w3-button "><i class="fas fa-history"></i> LỊCH SỬ</button>
      </a>
    </div>
    <div>
      <a routerLink="/member/booking">
        <button class=" w3-button "><i class="fas fa-ticket-alt"></i> QUẢN LÝ ĐẶT VÉ</button>
      </a>
    </div>
  </div>
  <!--            </div>-->

