<div class="container-fluid" id="fluid">
  <div id="follow-div">
    <div class="follow">
      <p class="follow-title">vui lòng chọn phim</p>
    </div>
  </div>

  <hr class="d-inline-block"
      style="width: 99%; height: 1px; background-color: lightgray">

  <div id="pick-div" class="container-fluid row">
    <div class="pick col-lg-4" style="padding-left: 0">
      <table class="table table-hover table-bordered border border-secondary" id="pick-movie">
        <thead class="tb-head">
        <tr>
          <td class="border border-secondary" colspan="2">Chọn phim</td>
        </tr>
        </thead>
        <tbody class="border border-secondary">
        <tr class="border border-light" *ngFor="let movieTicket of listMovie">
          <td [class.chooseFilm]="activeId && activeId===movieTicket.movie.movieId"
              (click)="changeShowDate(movieTicket.movie.movieId)">
            <img class="img" [src]="movieTicket.movie.posterMovie" alt="img" width="80" height="60">
            <span class="movie-title">{{movieTicket.movie.movieName}}</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="pick col-lg-4">
      <table class="table table-hover table-bordered border border-secondary">
        <thead class="tb-head">
        <tr>
          <td class="border border-secondary" colspan="2">Chọn ngày chiếu</td>
        </tr>
        </thead>
        <tbody class="border border-secondary">
        <tr class="disabled-hover">
        </tr>
        </tbody>
        <tbody>
        <tr>
          <select (change)="changeShowTime($event.target.value)" [disabled]="listShowDate === null"
                  class="custom-select bg-white" style="cursor: pointer">
            <option class="form-control" disabled [selected]="showDate === null">Vui lòng chọn ngày chiếu</option>
            <option *ngFor="let movieTicket of listShowDate" [value]="movieTicket.showDate">
              <td>{{movieTicket.showDate| date: 'dd/MM/yyyy'}}</td>
            </option>
          </select>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="pick col-lg-4">
      <table class="table table-hover table-bordered border border-secondary">
        <thead class="tb-head">
        <tr>
          <td class="border border-secondary" colspan="2">Chọn suất</td>
        </tr>
        </thead>
        <tbody>
        </tbody>
        <tbody>
        <tr>
          <select (change)="changeShowTimeId($event.target.value)" [disabled]="listShowTime === null"
                  style="cursor: pointer"  class="custom-select bg-white">
            <option [selected]="showTimeId === null" disabled >Vui lòng chọn suất chiếu</option>
            <option *ngFor="let movieTicket of listShowTime" [value]="movieTicket.showTime.showTimeId">
              <td>{{movieTicket.showTime.showTime}}</td>
            </option>
          </select>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="btnContinue" class="text-center mt-4">
    <a>
      <button (click)="checkMovieTicket()" class="btn btn-outline-success rounded-pill" type="button"><span
        class="arrow">
        <i class="fas fa-2x fa-arrow-right"></i>
      </span>
      </button>
    </a>
  </div>
</div>

