<div class="container-fluid" id="fluid">
  <div id="follow-div">
    <div class="follow">
      <p class="follow-title">vui lòng chọn ghế</p>
    </div>
  </div>
  ​
  <hr class="d-inline-block"
      style="width: 99%; height: 1px; background-color: lightgray">
  ​
  <div class="container-fluid p-0">
    <p id="movie-picked-title">Bạn đã chọn</p>
    <div id="movie-picked-content" class="row m-0 p-0">
      <p>Phim : <span>{{movieTicket.movie.movieName}}</span></p>
      <p>Ngày chiếu : <span>{{movieTicket.showDate}}</span></p>
      <p>Suất chiếu : <span>{{movieTicket.showTime.showTime}}</span></p>
    </div>
    <div class="container-fluid justify-content-center align-items-center">
      <!--      choose seat-->
      <div id="seat-show" class="row m-0 p-0">
        <div class="col-lg-2 space-div"></div>
        <div class="col-lg-8 col-md-12" id="seat">
          <table class="table table-borderless">
            <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody class="text-center justify-content-center align-items-center">
            <tr *ngFor="let index of listRow">
              <td  *ngFor="let seat of listSeat| slice:(index-1)*10:(index)*10">
                <div *ngIf="seat.row.rowId === index" class="text-center td-seat align-items-center"
                     [id]="seat.row.rowName+seat.column.columnName"
                     (click)="chooseSeat(seat)"
                     [ngClass]="((seat.seatType.seatTypeId == 2) ? 'vip-seat' : 'empty-seat')"
                     style="padding-top: 0.3125rem">
                  {{seat.row.rowName}}{{seat.column.columnName}}
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-2 space-div"></div>
      </div>
      ​
      <!--      instructor-->
      <div id="instructor" class="row m-0 p-0 mb-3 justify-content-center">
        <div class="row m-1 p-0 align-items-center">
          <div class="td-seat empty-seat"></div>
          <span class="instructor-label mr-lg-3 ml-1">Ghế trống</span>
        </div>
        <div class="row m-1 p-0 align-items-center">
          <div class="td-seat selecting-seat"></div>
          <span class="instructor-label mr-lg-3 ml-1">Ghế đang chọn</span>
        </div>
        <div class="row m-1 p-0 align-items-center">
          <div class="td-seat ordered-seat"></div>
          <span class="instructor-label mr-lg-3 ml-1">Ghế đã có người đặt</span>
        </div>
        <div class="row m-1 p-0 align-items-center">
          <div class="td-seat vip-seat"></div>
          <span class="instructor-label mr-lg-0 ml-1">Ghế VIP</span>
        </div>
      </div>
    </div>
  </div>
  ​
  <!--  &lt;!&ndash;      price + total&ndash;&gt;-->
  <!--  <div class="m-3 text-success justify-content-center d-block">-->
  <!--    <div><p>Bạn đã chọn : {{listChoseSeat.length}} vé</p></div>-->
  <!--    <div *ngFor="let seat of listSeat">-->
  <!--      <p>Ghế : {{seat.row.rowName}}{{seat.column.columnName}}&nbsp;</p>-->
  <!--      <p>Giá : {{movieTicket.ticketPrice}}&nbsp;VND</p>-->
  <!--    </div>-->
  <!--    <div>Tổng cộng : {{movieTicket.ticketPrice * listChoseSeat.length}}&nbsp;VND</div>-->
  <!--  </div>-->
  <!--  ​-->
  <div id="btnContinue" class="text-center">
    <a routerLink="/employee/sale/tickets">
      <button class="btn btn-outline-primary rounded-pill" type="button">
        <span class="arrow">
          <i class="fas fa-2x fa-arrow-left"></i>
        </span>
      </button>
    </a>
    <a>
      <button class="btn btn-outline-success rounded-pill"
              type="button"
              (click)="continue()"
              [disabled]="listChoseSeat.length == 0">
        <span class="arrow">
          <i class="fas fa-2x fa-arrow-right"></i>
        </span>
      </button>
    </a>
  </div>
</div>
​
