<div class="container-fluid" id="fluid">
  <div id="follow-div">
    <div class="follow">
      <p class="follow-title">vui lòng chọn phim</p>
    </div>
  </div>

  <hr class="d-inline-block"
      style="width: 99%; height: 1px; background-color: lightgray">

  <div id="pick-div" class="container-fluid p-0 row">
    <div class="pick col-lg-4" style="padding-left: 0">
      <table class="table table-hover table-bordered" id="pick-movie">
        <thead class="tb-head">
        <tr>
          <td colspan="2">Chọn phim</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let movie of listMovie">
          <td (click)="getDateTimeList(movie.movieId)">
            <img class="img" [src]="movie.posterMovie"
                 alt="img" width="80" height="60">
            <span class="movie-title">{{movie.movieName}}</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="pick col-lg-4">
      <table class="table table-hover table-bordered">
        <thead class="tb-head">
        <tr>
          <td colspan="2">Chọn ngày chiếu</td>
        </tr>
        </thead>
        <tbody *ngIf="!listDateTime">
        <tr class="disabled-hover">
          <td>
            <span class="datetime">Vui lòng chọn ngày chiếu</span>
          </td>
        </tr>
        </tbody>
        <tbody *ngIf="listDateTime">
        <tr>
          <select class="form-control bg-white">
            <option value="" selected disabled>Vui lòng chọn ngày chiếu</option>
            <option *ngFor="let date of listDateTime">
              <td>{{date | date: 'dd-MM'}}</td>
            </option>
          </select>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="pick col-lg-4">
      <table class="table table-hover table-bordered">
        <thead class="tb-head">
        <tr>
          <td colspan="2">Chọn suất</td>
        </tr>
        </thead>
        <tbody *ngIf="!listShowtime">
        <tr class="disabled-hover">
          <td>
            <span class="theater">Vui lòng chọn suất</span>
          </td>
        </tr>
        </tbody>
        <tbody *ngIf="listShowtime">
        <tr>
          <select class="form-control bg-white">
            <option value="" selected disabled>Vui lòng chọn suất chiếu</option>
            <option *ngFor="let show of listShowtime">
              <td>{{show}}</td>
            </option>
          </select>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="btnContinue" class="text-center mb-4">
    <a routerLink="seat">
      <button class="btn btn-outline-success rounded-pill" type="button">
        <span class="arrow">
          <i class="fas fa-2x fa-arrow-right"></i>
        </span>
      </button>
    </a>
  </div>
</div>

