.footer {
  /* background: #fff; */
  background-image: url("../../../../assets/layout-images/footer-background-4.jpg");
  /* background-repeat: no-repeat; */
  background-size: 100% 100%;
}

/* .container {
    max-width: 1252px;
} */

#list-social {
  /* border-top: 1px solid #263547; */
  background: #f26b39;
  padding: 20px 0px;
}

#list-social img {
  width: 70%;
}

.list-inline {
  padding-left: 0;
  list-style: none;
  /* display: inline; */
}

.footer #list-social ul.list-inline {
  /* width: 100%; */
  text-align: center;
}

.footer .container li {
  list-style: none;
}

.footer #list-social ul.list-inline li {
  /* float: left; */
  display: inline-block;
  min-width: 5em;
  /* margin: 0 0.5em; */
}

.footer a {
  color: #000;
  /* text-transform: uppercase; */
}

.list-inline a {
  text-decoration: none;
  /* transition: color 300ms linear; */
}

.footer .content-1 {
  margin-top: 30px;
}

.footer .content-1 .marg-top26 {
  margin-top: 0;
}

#logo-footer {
  /* max-width: 200px; */
  max-width: 100%;
  max-height: 65px;
}

.info {
  /* text-transform: capitalize; */
  font-size: 14px;
}

.address {
  margin-top: 20px;
  line-height: 1.4;
  padding-right: 15px;
  margin-bottom: 30px;
}

.footer .content-1 h3.info, .footer .content-2 h3.info, .footer .content-2 h3.info a, .footer h2 {
  color: #000;
}

.footer a {
  color: #000;
  /* text-transform: capitalize; */
}

.footer a:hover {
  text-decoration: none;
}

.marg-top30 h3 {
  font-weight: bold;
  font-size: 18px;
  padding-top: 20px;
}

.marg-top30 .list {
  padding-top: 10px;
}

.marg-top30 .list li {
  font-size: 14px;
}

.marg-top30 p {
  padding-top: 10px;
}

.map-trigger {
  float: left;
}

.map-left {
  padding-left: 10px;
  position: relative;
  top: 20px;
}

.map {
  padding-bottom: 30px;
}

#content-map {
  margin-top: 30px;
  display: block;
  position: relative;
  width: 100%;
  padding-top: 50%;
}

#content-map iframe {
  border: 0;
  position:  absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.copyright {
  padding-top: 20px;
  text-align: right;
}
