<div class="footer">
  <div id="list-social">
    <div class="container">
      <div class="col-xs-12 ">
        <ul class="list-inline mb-0">
          <li>
            <a id="fb_show" href="https://www.facebook.com" target="_blank">
              <img id="fb" src="../../../../assets/layout-images/icon_facebook.png" alt="">
              <img class="social_hide" id="fb_hover" src="" alt="">
            </a>
          </li>
          <li>
            <a id="instagram_show" href="https://www.instagram.com" target="_blank">
              <img id="instagram" src="../../../../assets/layout-images/icon_instagram.png" alt="">
              <img class="social_hide" id="instagram_hover" src="" alt="">
            </a>
          </li>
          <li>
            <a id="youtube_show" href="https://www.youtube.com" target="_blank">
              <img id="youtube" src="../../../../assets/layout-images/icon_youtube.png" alt="">
              <img class="social_hide" id="youtube_hover" src="" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row content-1">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 marg-top26">
        <img id="logo-footer" class="img-responsive" src="../../../../assets/layout-images/logo.png" alt="">
        <p class="info address">Tầng 10, 295 Nguyễn Tất Thành,
          <span class="line-down"><br></span>Thanh Bình, Hải Châu,
          <span class="line-down"><br></span>Đà Nẵng
        </p>
        <!-- <ul>
            <li class="clearfix">
                <img class="map-trigger" src="./images/layout/map.png" alt="" onclick="showMap(event)">
                <a class="map-left map-trigger" href="#" onclick="showMap(event)">XEM BẢN ĐỒ</a>
            </li>
        </ul> -->
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 marg-top30">
        <h3>C11 CINEMA</h3>
        <ul class="list">
          <li><a routerLink="/dat-ve"><i class="fa fa-angle-double-right"></i> Mua vé</a></li>
          <li><a routerLink="/phim"><i class="fa fa-angle-double-right"></i> Phim</a></li>
          <li><a routerLink="/rap"><i class="fa fa-angle-double-right"></i> Rạp & Giá vé</a></li>
          <li><a routerLink="/goc-dien-anh"><i class="fa fa-angle-double-right"></i> Góc điện ảnh</a></li>
          <li><a routerLink="/su-kien"><i class="fa fa-angle-double-right"></i> Sự kiện</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 marg-top30">
        <h3>THÔNG TIN CHUNG</h3>
        <ul class="list">
          <li><a routerLink="/huong-dan"><i class="fa fa-angle-double-right"></i> Hướng dẫn</a></li>
          <li><a routerLink="/chinh-sach"><i class="fa fa-angle-double-right"></i> Chính sách</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 marg-top30">
        <h3>CHĂM SÓC KHÁCH HÀNG</h3>
        <p class="info">Hotline: 1900 0000
          <span class="line-down"><br></span>Giờ làm việc: 8:00 - 22:00 (Tất cả các ngày bao gồm cả Lễ
          Tết)
          <span class="line-down"><br></span>Email hỗ trợ: <a
            href="mailto:c1120g1@codegym.vn">c1120g1@codegym.vn</a>
        </p>
      </div>
    </div>
    <div class="row">
      <ul class="col">
        <li class="clearfix">
          <img class="map-trigger" src="../../../../assets/layout-images/map.png" alt="" onclick="showMap(event)">
          <a class="map-left map-trigger" href="#" onclick="showMap(event)">XEM BẢN ĐỒ</a>
        </li>
      </ul>
      <div class="col copyright">
        Copyright &copy;2021 C1120G1. All rights reserved.
      </div>
    </div>
    <div class="map ml-0">
      <div id="content-map" style="display: none;">
        <iframe class="col-xs-12"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.7517909401645!2d108.20754761528887!3d16.078364943462745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219a486b7f699%3A0xae6269b629a63e82!2zVHJ1bmcgdMOibSDEkcOgbyB04bqhbyBs4bqtcCB0csOsbmggdmnDqm4gQ29kZUd5bSDEkMOgIE7hurVuZw!5e0!3m2!1sen!2s!4v1623514046667!5m2!1sen!2s"
                allowfullscreen="" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>
