<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"-->
<!--        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">-->
<!--  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"-->
<!--        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />-->
<!--  <link rel="stylesheet" href="style.css">-->
<!--  &lt;!&ndash; <link href="https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@300;400;500;600;700&display=swap"-->
<!--      rel="stylesheet"> &ndash;&gt;-->
<!--  <title>C11 Cinema</title>-->
<!--</head>-->

<body>
<header>
  <div class="header-wrap clearfix d-flex">
    <div class="logo-wrap img">
      <a href="/" title="Trang chủ">
        <img src="./images/layout/logo.png" alt="Logo C11" class="img-logo">
      </a>
    </div>
    <div class="header-content">
      <div class="topbar-wrap">
        <div class="topbar-group clearfix">
          <div class="topbar-left">
            <!--Search box-->
            <div class="search-box">
              <label>
                <input type="text" class="form-control" placeholder="Tìm tên phim, diễn viên,...">
              </label>
            </div>
          </div>
          <div class="topbar-right" id="welcome-header">
            <!--Member register-->
            <div class="member-register">
              <div id="pnlNotLogin">
                <div class="register-icon">
                  <ul class="clearfix">
                    <li>
                      <a class="register" href="/register">Đăng ký</a>
                    </li>
                    <li>
                      <a class="login" href="/login">Đăng nhập</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-wrap">
        <div class="menu">
          <ul>
            <li>
              <a href="/mua-ve" title="Mua vé">
                <span class="item-ticket">Mua vé</span>
              </a>
            </li>
            <li>
              <a href="/rap" title="Rạp & Giá vé">
                <span class="item-fare">Rạp & Giá vé</span>
              </a>
            </li>
            <li>
              <a href="/goc-dien-anh" title="Góc điện ảnh">
                <span class="item-cinema-corner">Góc điện ảnh</span>
              </a>
            </li>
            <li>
              <a href="/su-kien" title="Sự kiện">
                <span class="item-event">Sự kiện</span>
              </a>
            </li>
            <li>
              <a href="/huong-dan" title="Hướng dẫn">
                <span class="item-instruction">Hướng dẫn</span>
              </a>
            </li>
            <li>
              <a href="/chinh-sach" title="Chính sách">
                <span class="item-policy">Chính sách</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="home-contents">
  <!--Carousel Galaxy-->
  <div id="main-carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
    <ol class="carousel-indicators">
      <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#main-carousel" data-slide-to="1" class=""></li>
      <li data-target="#main-carousel" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" role="option">
        <a href="/phim/cruella">
          <img src="./images/banner/cruella-1.jpg">
        </a>
        <a class="video-btn video" data-toggle="modal"
           data-video="https://www.youtube.com/embed/aB6aDO87pBE" data-target="#videoModal">
          <i class="icon-play"></i>
        </a>
        <div class="play_trainer">
          <div id="video-view"></div>
        </div>
      </div>


      <a class="carousel-item" role="option" href="/phim/lat-mat-48h">
        <img src="./images/banner/lat-mat.jpg">
      </a>
      <a class="carousel-item" role="option" href="/phim/thien-than-ho-menh">
        <img src="./images/banner/thien-than-ho-menh.png">
      </a>
    </div>
    <a href="#main-carousel" class="left carousel-control-prev" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a href="#main-carousel" class="right carousel-control-next" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="top-list">
    <div class="top-sale">
      <div class="top-sale-header">
        <div class="title">
          <i class="fal fa-star mx-1"></i>
          <i class="fal fa-star mx-1"></i>
          <i class="fal fa-star mx-1"></i>
          <p class="mx-1">TOP 3 DOANH THU </p>
          <i class="fal fa-star mx-1"></i>
          <i class="fal fa-star mx-1"></i>
          <i class="fal fa-star mx-1"></i>
        </div>
      </div>
      <div class="top-movies">
        <div class="row m-0 h-100">
          <div class="col h-100 px-2">
            <div class="last top-2">
              <a href="/phim/cruella---chi-tiet-phim-9634" title="caption">
                <img src="./images/poster/cruella.jpeg" alt="cruella.jpeg" title="cruella.jpeg">
                <img class="tag" src="./images/layout/top-2.png" alt="top-2">
              </a>
              <!-- <div class="movie_hover" onclick="location.href='/phim/cruella---chi-tiet-phim-9634'">
                      <p href="/phim/cruella-(2d)--chi-tiet-phim-9634" class="tx_black">Cruella (2D)</p>
                      <p class="font_light">
                          Thể loại: Hài<br>
                          Khởi chiếu: 25/06/2021
                      </p>
                      <a href="/dat-ve?movieId=9634" class="btn-datve">ĐẶT VÉ</a>
                  </div> -->
            </div>
          </div>
          <div class="col h-100 px-2">
            <div class="last top-1">
              <a href="/phim/fast-furious-9-(2d)---chi-tiet-phim-9360" title="caption">
                <img src="./images/poster/fast-furious.jpeg" alt="fast-furious.jpeg"
                     title="fast-furious.jpeg">
                <img class="tag" src="./images/layout/top-1.png" alt="top-1">
              </a>
              <!-- <div class="movie_hover"
                      onclick="location.href='/phim/fast-furious-9-(2d)---chi-tiet-phim-9360'">
                      <p href="/phim/fast-furious-9-(2d)---chi-tiet-phim-9360" class="tx_black">FAST &amp;
                          FURIOUS
                          9 (2D)</p>
                      <p class="font_light">
                          Thể loại: Hành động<br>
                          Khởi chiếu: 25/06/2021
                      </p>
                      <a href="/dat-ve?movieId=9360" class="btn-datve">ĐẶT VÉ</a>
                  </div> -->
            </div>
          </div>
          <div class="col h-100 px-2">
            <div class="last top-3">
              <a href="/phim/doraemon-luon-ben-ban-2---chi-tiet-phim-9641" title="caption">
                <img src="./images/poster/doraemon.jpeg" alt="doraemon.jpeg" title="doraemon.jpeg">
                <img class="tag" src="./images/layout/top-3.png" alt="top-3">
              </a>
              <!-- <div class="movie_hover"
                      onclick="location.href='/phim/doraemon-luon-ben-ban-2---chi-tiet-phim-9641'">
                      <p href="/phim/doraemon-luon-ben-ban-2---chi-tiet-phim-9641" class="tx_black">Doraemon:
                          Luôn
                          bên bạn 2</p>
                      <p class="font_light">
                          Thể loại: Hoạt hình<br>
                          Khởi chiếu: 25/06/2021
                      </p>
                      <a href="/dat-ve?movieId=9641" class="btn-datve">ĐẶT VÉ</a>
                  </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="end">

      </div>
    </div>
  </div>
  <div class="contents-page">
    <div class="movie-wrapper row">
      <div class="col-md-8 col-sm-8 col-xs-12">
        <div id="tab-movies">
          <div class="tabs-movie-line">
            <ul class="nav nav-tabs movie-home">
              <li class="active">
                <a href="#tab_default_1" data-toggle="tab" aria-expanded="true">Phim đang chiếu</a>
              </li>
              <li class="">
                <a href="#tab_default_2" data-toggle="tab" aria-expanded="false">Phim sắp chiếu</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_default_1">
                <div class="row movies-group animated fadeInUp mx-0">
                  <div class="col-md-4 col-sm-4 col-xs-6 movie-item">
                    <div class="article-movie-home">
                      <img src="website/images/template-show.jpg"
                           data-src="https://www.galaxycine.vn/media/2019/12/19/aqp2-intl-tsr-dgtl-1-sht-imax-vie---copy-2_1576723481323.jpg"
                           class="lazy">
                      <a href="/phim/a-quiet-place-2">
                        <div class="decription-hover overlay">
                          <div class="movie-content"><i></i>
                            <div class="group">
                              <div class="btn secondary-white">mua vé</div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="title-movie">
                      <h4 class="upper-text">A Quiet Place 2</h4>
                      <h4 class="vn upper-text">Vùng Đất Câm Lặng 2</h4>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-6 movie-item">
                    <div class="article-movie-home"><img
                      src="https://www.galaxycine.vn/media/2019/12/6/450x300_1575618265112.jpg"
                      data-src="https://www.galaxycine.vn/media/2019/12/6/450x300_1575618265112.jpg"
                      class="lazy loaded" data-was-processed="true"><a
                      href="/phim/black-widow">
                      <div class="decription-hover overlay">
                        <div class="movie-content"><i></i>
                          <div class="group">
                            <div class="btn secondary-white">mua vé</div>
                          </div>
                        </div>
                      </div>
                    </a></div>
                    <div class="title-movie">
                      <h4 class="upper-text">Black Widow</h4>
                      <h4 class="vn upper-text">Góa Phụ Đen</h4>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-6 movie-item">
                    <div class="article-movie-home"><img
                      src="https://www.galaxycine.vn/media/2021/3/29/450-chia_1617003814923.jpg"
                      data-src="https://www.galaxycine.vn/media/2021/3/29/450-chia_1617003814923.jpg"
                      class="lazy loaded" data-was-processed="true"><a
                      href="/phim/chia-khoa-tram-ty">
                      <div class="decription-hover overlay">
                        <div class="movie-content"><i></i>
                          <div class="group">
                            <div class="btn secondary-white">mua vé</div>
                          </div>
                        </div>
                      </div>
                    </a></div>
                    <div class="title-movie">
                      <h4 class="upper-text">Chìa Khóa Trăm Tỷ</h4>
                      <h4 class="vn upper-text"></h4>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-6 movie-item">
                    <div class="article-movie-home"><img
                      src="https://www.galaxycine.vn/media/2019/7/18/kingsman5_1563422515152.jpg"
                      data-src="https://www.galaxycine.vn/media/2019/7/18/kingsman5_1563422515152.jpg"
                      class="lazy loaded" data-was-processed="true"><a
                      href="/phim/kings-man">
                      <div class="decription-hover overlay">
                        <div class="movie-content"><i></i>
                          <div class="group">
                            <div class="btn secondary-white">mua vé</div>
                          </div>
                        </div>
                      </div>
                    </a></div>
                    <div class="title-movie">
                      <h4 class="upper-text">The King's Man</h4>
                      <h4 class="vn upper-text">Kingsman: Khởi Nguồn</h4>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-6 movie-item">
                    <div class="article-movie-home"><img
                      src="https://www.galaxycine.vn/media/2020/8/7/1350wx90d0h_1596782997827.jpg"
                      data-src="https://www.galaxycine.vn/media/2020/8/7/1350wx90d0h_1596782997827.jpg"
                      class="lazy loaded" data-was-processed="true"><a
                      href="/phim/candyman">
                      <div class="decription-hover overlay">
                        <div class="movie-content"><i></i>
                          <div class="group">
                            <div class="btn secondary-white">mua vé</div>
                          </div>
                        </div>
                      </div>
                    </a></div>
                    <div class="title-movie">
                      <h4 class="upper-text">Candyman</h4>
                      <h4 class="vn upper-text">Sát Nhân Trong Gương</h4>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-6 movie-item">
                    <div class="article-movie-home"><img
                      src="https://www.galaxycine.vn/media/2021/4/20/shang-chi-and-ten-rings-9_1618891846641.jpg"
                      data-src="https://www.galaxycine.vn/media/2021/4/20/shang-chi-and-ten-rings-9_1618891846641.jpg"
                      class="lazy loaded" data-was-processed="true"><a
                      href="/phim/shang-chi-and-the-legend-of-the-ten-rings">
                      <div class="decription-hover overlay">
                        <div class="movie-content"><i></i>
                          <div class="group">
                            <div class="btn secondary-white">mua vé</div>
                          </div>
                        </div>
                      </div>
                    </a></div>
                    <div class="title-movie">
                      <h4 class="upper-text">Shang-Chi And The Legend Of The Ten Rings</h4>
                      <h4 class="vn upper-text">Shang-Chi Và Huyền Thoại Thập Nhẫn</h4>
                    </div>
                  </div>
                </div>
                <div class="row mx-0">
                  <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                    <a href="/phim-dang-chieu" class="btn secondary btn-load-more">Xem thêm</a>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab_default_2">
                <div class="row movies-group animated fadeInUp mx-0">
                  <div class="col-md-4 col-sm-4 col-xs-6 movie-item">
                    <div class="article-movie-home"><img
                      src="https://www.galaxycine.vn/media/2021/4/20/shang-chi-and-ten-rings-9_1618891846641.jpg"
                      data-src="https://www.galaxycine.vn/media/2021/4/20/shang-chi-and-ten-rings-9_1618891846641.jpg"
                      class="lazy loaded" data-was-processed="true"><a
                      href="/phim/shang-chi-and-the-legend-of-the-ten-rings">
                      <div class="decription-hover overlay">
                        <div class="movie-content"><i></i>
                          <div class="group">
                            <div class="btn secondary-white">mua vé</div>
                          </div>
                        </div>
                      </div>
                    </a></div>
                    <div class="title-movie">
                      <h4 class="upper-text">Shang-Chi And The Legend Of The Ten Rings</h4>
                      <h4 class="vn upper-text">Shang-Chi Và Huyền Thoại Thập Nhẫn</h4>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-6 movie-item">
                    <div class="article-movie-home"><img
                      src="https://www.galaxycine.vn/media/2021/4/20/shang-chi-and-ten-rings-9_1618891846641.jpg"
                      data-src="https://www.galaxycine.vn/media/2021/4/20/shang-chi-and-ten-rings-9_1618891846641.jpg"
                      class="lazy loaded" data-was-processed="true"><a
                      href="/phim/shang-chi-and-the-legend-of-the-ten-rings">
                      <div class="decription-hover overlay">
                        <div class="movie-content"><i></i>
                          <div class="group">
                            <div class="btn secondary-white">mua vé</div>
                          </div>
                        </div>
                      </div>
                    </a></div>
                    <div class="title-movie">
                      <h4 class="upper-text">Shang-Chi And The Legend Of The Ten Rings</h4>
                      <h4 class="vn upper-text">Shang-Chi Và Huyền Thoại Thập Nhẫn</h4>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-6 movie-item">
                    <div class="article-movie-home"><img
                      src="https://www.galaxycine.vn/media/2021/4/20/shang-chi-and-ten-rings-9_1618891846641.jpg"
                      data-src="https://www.galaxycine.vn/media/2021/4/20/shang-chi-and-ten-rings-9_1618891846641.jpg"
                      class="lazy loaded" data-was-processed="true"><a
                      href="/phim/shang-chi-and-the-legend-of-the-ten-rings">
                      <div class="decription-hover overlay">
                        <div class="movie-content"><i></i>
                          <div class="group">
                            <div class="btn secondary-white">mua vé</div>
                          </div>
                        </div>
                      </div>
                    </a></div>
                    <div class="title-movie">
                      <h4 class="upper-text">Shang-Chi And The Legend Of The Ten Rings</h4>
                      <h4 class="vn upper-text">Shang-Chi Và Huyền Thoại Thập Nhẫn</h4>
                    </div>
                  </div>
                </div>
                <div class="row mx-0">
                  <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                    <a href="/phim-sap-chieu" class="btn secondary btn-load-more">Xem thêm</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div id="buyTicket">
          <div class="tabs-buy-ticket">
            <div class="label-tabs-buy-ticket">mua vé nhanh</div>
            <div class="content-movie btn-box-select-ticket">
              <form>
                <select class="form-control mb-3" name="movie" id="movie">
                  <option value="">Chọn phim</option>
                  <option value="1">Cruella</option>
                  <option value="2">Lật mặt 48h</option>
                  <option value="3">Thiên thần hộ mệnh</option>
                </select>
                <select class="form-control mb-3" name="theater" id="theater">
                  <option value="">Chọn rạp</option>
                  <option value="1">C11 Hà Nội</option>
                  <option value="2">C11 Đà Nẵng</option>
                  <option value="3">C11 Hồ Chí Minh</option>
                </select>
                <select class="form-control mb-3" name="date" id="date">
                  <option value="">Chọn ngày</option>
                  <option value="11-06-2021">11-06-2021</option>
                  <option value="12-06-2021">12-06-2021</option>
                  <option value="13-06-2021">13-06-2021</option>
                </select>
                <select class="form-control mb-3" name="time" id="time">
                  <option value="">Chọn suất</option>
                  <option value="1">10h</option>
                  <option value="2">14h</option>
                  <option value="3">19h</option>
                </select>
                <button class="btn-buy-ticket">mua vé</button>
              </form>
            </div>
          </div>
        </div>
        <div id="movieSidebar">

        </div>
      </div>
    </div>
    <div class="benefit-wrapper col-md-12 col-xs-12">
      <section id="promotion"><a href="/khuyen-mai" class="title-block">
        <h3>Tin khuyến mãi</h3>
      </a>
        <div class="row promotion">
          <div class="col-md-3 col-sm-4 col-xs-6 promotion-item">
            <div class="promotion-item-home"><a href="/khuyen-mai/thong-tin-ung-dung-galaxy-cinema"><img
              src="https://www.galaxycine.vn/media/2021/5/27/glx_1622105624120.png"
              data-src="https://www.galaxycine.vn/media/2021/5/27/glx_1622105624120.png"
              class="lazy loaded" data-was-processed="true"></a>
              <div class="decription-hover overlay hidden-xs"><a
                href="/khuyen-mai/thong-tin-ung-dung-galaxy-cinema">
                <div class="info">
                  <h2>Thông Tin Ứng Dụng Galaxy Cinema</h2>
                  <p>
                    <!--| -->
                  </p>
                </div>
              </a>
                <div class="group"><a href="/khuyen-mai/thong-tin-ung-dung-galaxy-cinema"></a><a
                  href="/khuyen-mai/thong-tin-ung-dung-galaxy-cinema"
                  class="btn secondary-white">chi tiết</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 promotion-item">
            <div class="promotion-item-home"><a href="/khuyen-mai/nhan-ve-mien-phi-rinh-bap-ve-nha"><img
              src="https://www.galaxycine.vn/media/2021/4/12/300x450_1618212644894.jpg"
              data-src="https://www.galaxycine.vn/media/2021/4/12/300x450_1618212644894.jpg"
              class="lazy loaded" data-was-processed="true"></a>
              <div class="decription-hover overlay hidden-xs"><a
                href="/khuyen-mai/nhan-ve-mien-phi-rinh-bap-ve-nha">
                <div class="info">
                  <h2>Nhận Vé Miễn Phí, Rinh Bắp Về Nhà</h2>
                  <p></p>
                  <p><span style="font-size:14px;"><span
                    style="font-family:Arial,Helvetica,sans-serif;"><span
                    style="line-height:115%"><span style="line-height:115%">Rất
                                                                nhiều vé xem phim miễn phí và bắp ngọt tại Galaxy Linh
                                                                Trung đang chờ các Stars rinh
                                                                về...</span></span></span></span>
                    <!--| -->
                  </p>
                  <p></p>
                </div>
              </a>
                <div class="group"><a href="/khuyen-mai/nhan-ve-mien-phi-rinh-bap-ve-nha"></a><a
                  href="/khuyen-mai/nhan-ve-mien-phi-rinh-bap-ve-nha"
                  class="btn secondary-white">chi tiết</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 promotion-item">
            <div class="promotion-item-home"><a href="/khuyen-mai/ngay-thanh-vien---milo-day"><img
              src="https://www.galaxycine.vn/media/2021/4/20/300x450_1618909082647.jpg"
              data-src="https://www.galaxycine.vn/media/2021/4/20/300x450_1618909082647.jpg"
              class="lazy loaded" data-was-processed="true"></a>
              <div class="decription-hover overlay hidden-xs"><a
                href="/khuyen-mai/ngay-thanh-vien---milo-day">
                <div class="info">
                  <h2>Ngày Thành Viên - Milo Day</h2>
                  <p></p>
                  <p>Bước sang năm mới, Galaxy dành tặng các Stars thêm một ngày tràn đầy “yêu
                    thương” – Milo Day.
                    <!--| -->
                  </p>
                  <p></p>
                </div>
              </a>
                <div class="group"><a href="/khuyen-mai/ngay-thanh-vien---milo-day"></a><a
                  href="/khuyen-mai/ngay-thanh-vien---milo-day"
                  class="btn secondary-white">chi tiết</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 promotion-item">
            <div class="promotion-item-home"><a href="/khuyen-mai/galaxy-cinema-tri-an-thanh-vien"><img
              src="https://www.galaxycine.vn/media/2021/1/18/300x450_1610956359573.png"
              data-src="https://www.galaxycine.vn/media/2021/1/18/300x450_1610956359573.png"
              class="lazy loaded" data-was-processed="true"></a>
              <div class="decription-hover overlay hidden-xs"><a
                href="/khuyen-mai/galaxy-cinema-tri-an-thanh-vien">
                <div class="info">
                  <h2>Galaxy Cinema Tri Ân Thành Viên</h2>
                  <p></p>
                  <p><span style="font-size:14px;"><span
                    style="font-family:Arial,Helvetica,sans-serif;"><span
                    style="line-height:107%"><span
                    style="line-height:107%"><span style="color:#222222">Tri
                                                                    ân tình cảm của các Stars, <b>Galaxy Cinema</b> dành
                                                                    tặng hàng loạt ưu đãi chưa – từng – có mừng
                                                                    2021.</span></span></span></span></span>
                    <!--| -->
                  </p>
                  <p></p>
                </div>
              </a>
                <div class="group"><a href="/khuyen-mai/galaxy-cinema-tri-an-thanh-vien"></a><a
                  href="/khuyen-mai/galaxy-cinema-tri-an-thanh-vien"
                  class="btn secondary-white">chi tiết</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 promotion-item">
            <div class="promotion-item-home"><a
              href="/khuyen-mai/app-galaxy-cinema--chi-mat-nua-giay-den-ngay-phong-chieu"><img
              src="https://www.galaxycine.vn/media/2020/9/24/300x450_1600914057388.jpg"
              data-src="https://www.galaxycine.vn/media/2020/9/24/300x450_1600914057388.jpg"
              class="lazy loaded" data-was-processed="true"></a>
              <div class="decription-hover overlay hidden-xs"><a
                href="/khuyen-mai/app-galaxy-cinema--chi-mat-nua-giay-den-ngay-phong-chieu">
                <div class="info">
                  <h2>Ứng Dụng Galaxy: Chọn Lối Đi Riêng, Vào Thẳng Rạp Phim</h2>
                  <p></p>
                  <p>
                    <!--| --><span style="font-family:Arial,Helvetica,sans-serif;"><span
                    style="font-size:14px;"><span style="line-height:normal">Galaxy
                                                            Cinema ra mắt app mới, việc đặt vé online <b>dễ dàng</b> hơn
                                                            bao giờ hết. Chỉ với một thao tác nhỏ là các Stars có thể
                                                            đến thẳng phòng chiếu xem phim <b>ngay lập
                                                                tức</b>.</span></span></span>
                  </p>
                  <p></p>
                </div>
              </a>
                <div class="group"><a
                  href="/khuyen-mai/app-galaxy-cinema--chi-mat-nua-giay-den-ngay-phong-chieu"></a><a
                  href="/khuyen-mai/app-galaxy-cinema--chi-mat-nua-giay-den-ngay-phong-chieu"
                  class="btn secondary-white">chi tiết</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 promotion-item">
            <div class="promotion-item-home"><a
              href="/khuyen-mai/tung-bung-hai-sao--nhan-uu-dai-khung"><img
              src="https://www.galaxycine.vn/media/2019/12/9/300x450_1575874237175.jpg"
              data-src="https://www.galaxycine.vn/media/2019/12/9/300x450_1575874237175.jpg"
              class="lazy loaded" data-was-processed="true"></a>
              <div class="decription-hover overlay hidden-xs"><a
                href="/khuyen-mai/tung-bung-hai-sao--nhan-uu-dai-khung">
                <div class="info">
                  <h2>TƯNG BỪNG HÁI "SAO" – NHẬN ƯU ĐÃI KHỦNG</h2>
                  <p></p>
                  <p>Galaxy Cinema ra mắt hệ thống tích điểm thành viên hoàn toàn mới!
                    <!--| -->
                  </p>
                  <p></p>
                </div>
              </a>
                <div class="group"><a href="/khuyen-mai/tung-bung-hai-sao--nhan-uu-dai-khung"></a><a
                  href="/khuyen-mai/tung-bung-hai-sao--nhan-uu-dai-khung"
                  class="btn secondary-white">chi tiết</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 promotion-item">
            <div class="promotion-item-home"><a
              href="/khuyen-mai/ngay-tri-an-cua-galaxy-cinema---ngay-thu-hai-dau-tien-moi-thang"><img
              src="https://www.galaxycine.vn/media/2021/4/22/1200x1800_1619064936544.jpg"
              data-src="https://www.galaxycine.vn/media/2021/4/22/1200x1800_1619064936544.jpg"
              class="lazy loaded" data-was-processed="true"></a>
              <div class="decription-hover overlay hidden-xs"><a
                href="/khuyen-mai/ngay-tri-an-cua-galaxy-cinema---ngay-thu-hai-dau-tien-moi-thang">
                <div class="info">
                  <h2>Ngày Tri Ân Của Galaxy Cinema - Ngày Thứ Hai ĐẦU TIÊN Mỗi Tháng</h2>
                  <p></p>
                  <p>
                    <!--| --><span style="font-size:11pt"><span
                    style="line-height:115%"><span
                    style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><span
                    style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Từ
                                                                lâu, chương trình Ngày Tri Ân Nhằm tạo điều kiện thuận
                                                                lợi hơn cho các khách hàng thả ga xem phim đã trở nên
                                                                quen thuộc với các khách hàng thân yêu của Galaxy
                                                                Cinema.</span></span></span></span>
                  </p>
                  <p></p>
                </div>
              </a>
                <div class="group"><a
                  href="/khuyen-mai/ngay-tri-an-cua-galaxy-cinema---ngay-thu-hai-dau-tien-moi-thang"></a><a
                  href="/khuyen-mai/ngay-tri-an-cua-galaxy-cinema---ngay-thu-hai-dau-tien-moi-thang"
                  class="btn secondary-white">chi tiết</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6 promotion-item">
            <div class="promotion-item-home"><a href="/khuyen-mai/x2-thanh-vien-x2-quyen-loi"><img
              src="https://www.galaxycine.vn/media/2020/7/1/galaxy-website-1_1593573807717.jpg"
              data-src="https://www.galaxycine.vn/media/2020/7/1/galaxy-website-1_1593573807717.jpg"
              class="lazy loaded" data-was-processed="true"></a>
              <div class="decription-hover overlay hidden-xs"><a
                href="/khuyen-mai/x2-thanh-vien-x2-quyen-loi">
                <div class="info">
                  <h2>X2 Thành Viên - X2 Quyền Lợi</h2>
                  <p></p>
                  <p><span style="font-size:14px;"><span
                    style="font-family:Arial,Helvetica,sans-serif;">Mở rộng quyền
                                                        lợi thành viên Galaxy Cinema với tính năng đổi điểm mới dành cho
                                                        các Stars thân yêu. Tự do quy đổi SAO sang điểm VUI của TAPTAP
                                                        để có thêm nhiều lựa chọn ưu đãi hấp dẫn với đa dạng lĩnh vực từ
                                                        ăn uống, mua sắm, giải trí cho đến du lịch.</span></span></p>

                  <p>
                    <!--| -->
                  </p>
                  <p></p>
                </div>
              </a>
                <div class="group"><a href="/khuyen-mai/x2-thanh-vien-x2-quyen-loi"></a><a
                  href="/khuyen-mai/x2-thanh-vien-x2-quyen-loi"
                  class="btn secondary-white">chi tiết</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<footer>
  <div id="list-social">
    <div class="container">
      <div class="col-xs-12 ">
        <ul class="list-inline">
          <li>
            <a id="fb_show" href="https://www.facebook.com" target="_blank">
              <img id="fb" src="./images/layout/icon_facebook.png" alt="">
              <img class="social_hide" id="fb_hover" src="" alt="">
            </a>
          </li>
          <li>
            <a id="instagram_show" href="https://www.instagram.com" target="_blank">
              <img id="instagram" src="./images/layout/icon_instagram.png" alt="">
              <img class="social_hide" id="instagram_hover" src="" alt="">
            </a>
          </li>
          <li>
            <a id="youtube_show" href="https://www.youtube.com" target="_blank">
              <img id="youtube" src="./images/layout/icon_youtube.png" alt="">
              <img class="social_hide" id="youtube_hover" src="" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row content-1">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 marg-top26">
        <img id="logo-footer" class="img-responsive" src="./images/layout/logo.png" alt="">
        <p class="info address">Tầng 10, 295 Nguyễn Tất Thành,
          <span class="line-down"><br></span>Thanh Bình, Hải Châu,
          <span class="line-down"><br></span>Đà Nẵng
        </p>
        <!-- <ul>
            <li class="clearfix">
                <img class="map-trigger" src="./images/layout/map.png" alt="" onclick="showMap(event)">
                <a class="map-left map-trigger" href="#" onclick="showMap(event)">XEM BẢN ĐỒ</a>
            </li>
        </ul> -->
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 marg-top30">
        <h3>C11 CINEMA</h3>
        <ul class="list">
          <li><a href="/dat-ve"><i class="fa fa-angle-double-right"></i> Mua vé</a></li>
          <li><a href="/phim"><i class="fa fa-angle-double-right"></i> Phim</a></li>
          <li><a href="/rap"><i class="fa fa-angle-double-right"></i> Rạp & Giá vé</a></li>
          <li><a href="/goc-dien-anh"><i class="fa fa-angle-double-right"></i> Góc điện ảnh</a></li>
          <li><a href="/su-kien"><i class="fa fa-angle-double-right"></i> Sự kiện</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 marg-top30">
        <h3>THÔNG TIN CHUNG</h3>
        <ul class="list">
          <li><a href="/huong-dan"><i class="fa fa-angle-double-right"></i> Hướng dẫn</a></li>
          <li><a href="/chinh-sach"><i class="fa fa-angle-double-right"></i> Chính sách</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 marg-top30">
        <h3>CHĂM SÓC KHÁCH HÀNG</h3>
        <p class="info">Hotline: 1900 0000
          <span class="line-down"><br></span>Giờ làm việc: 8:00 - 22:00 (Tất cả các ngày bao gồm cả Lễ
          Tết)
          <span class="line-down"><br></span>Email hỗ trợ: <a
            href="mailto:c1120g1@codegym.vn">c1120g1@codegym.vn</a>
        </p>
      </div>
    </div>
    <div class="row">
      <ul class="col">
        <li class="clearfix">
          <img class="map-trigger" src="./images/layout/map.png" alt="" onclick="showMap(event)">
          <a class="map-left map-trigger" href="#" onclick="showMap(event)">XEM BẢN ĐỒ</a>
        </li>
      </ul>
      <div class="col copyright">
        Copyright &copy;2021 C1120G1. All rights reserved.
      </div>
    </div>
    <div class="map ml-0">
      <div id="content-map" style="display: none;">
        <iframe class="col-xs-12"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.7517909401645!2d108.20754761528887!3d16.078364943462745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219a486b7f699%3A0xae6269b629a63e82!2zVHJ1bmcgdMOibSDEkcOgbyB04bqhbyBs4bqtcCB0csOsbmggdmnDqm4gQ29kZUd5bSDEkMOgIE7hurVuZw!5e0!3m2!1sen!2s!4v1623514046667!5m2!1sen!2s"
                allowfullscreen="" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</footer>

<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width:750px; margin:0 auto">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <iframe width="750" height="450" src="" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
<script src="./content.js"></script>
<script src="./footer.js"></script>
