<div class="container-fluid body">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <p class="title">Chi tiết của phòng PC01</p>
          <a href="#" class="btn btn-success"><i class="fas fa-plus-circle"></i> Thêm ghế</a>
          <a routerLink='/admin/room' class="btn btn-secondary mt-3">Trở về danh sách phòng chiếu</a>
        </div>
        <div class="col-md-6 mt-3">
          <button class="btn" style="background-color: greenyellow">Ghế thường</button>
          <button class="btn ml-4" style="background-color: red">Ghế vip</button>
          <br>
          <div class="table table-responsive" style="text-align: center">
            <button class="mt-4" style=";padding: 20px 200px 20px 200px;color: gray;">Màn hình</button>
            <table class="table table-borderless mt-4" style="border: 1px solid dodgerblue">
              <tr *ngFor="let row of rowList">
                <td *ngFor="let col of columnList">
                  <div class="dropdown show">
                    <a class="btn dropdown-toggle" *ngIf="row.rowId == 5; else elseBlock"
                       style="background-color: red;color: white" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                      {{row.rowName + col.columnName}}
                    </a>
                    <ng-template #elseBlock>
                      <a class="btn dropdown-toggle" data-toggle="dropdown"
                         style="background-color: greenyellow;">{{row.rowName + col.columnName}}</a>
                    </ng-template>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" (click)="changeColor(row.rowId,col.columnId)">Chuyển trạng thái ghế</a>
                      <a class="dropdown-item" href="#">Xóa ghế</a>
                    </div>
                  </div>
                  <!--                  <a href="" *ngIf="x == 5" class="btn" style="background-color: blue"></a>-->
                  <!--                  <a href="" *ngIf="x!=5 && y !=0" class="btn" style="background-color: blue" id="{{x + y}}"-->
                  <!--                     (click)="changeColor(x,y)"></a>-->
                </td>
              </tr>
            </table>
            <i class="fas fa-door-open" style="margin-left: 900px; font-size: 70px;color: green"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
