
<div class="container-fluid">
  <div class="row">
    <!--    account-manager start-->
    <div class=" container-fluid  col-lg-3" style="background-color:rgba(168,162,161,0.15)">
      <app-nav-bar-account-manager></app-nav-bar-account-manager>
    </div>
    <!--    account-manager end-->
    <br>
    <div class="container-fluid col-lg-9">
      <!--            <div class="card" style="border-style: solid; border-color: coral">-->
      <div class="card-title">LỊCH SỬ CỘNG ĐIỂM VÀ SỬ DỤNG ĐIỂM</div>
      <div class="card-body">
        <div>
          <form>
            <div class="row float-right">
              <input type="text" (input)="inputKeySearch($event.target.value)" placeholder="Tìm Theo Tên Phim">
              <button (click)="searchNameMovie()" class="form-check-inline badge-info" >Search</button>
            </div>
            <br>
            <br>
            <!-- --------------------------                       ---------------->
            <table class="table table-hover">
              <thead>
              <tr >
                <th>STT</th>
                <th>Ngày Giao Dịch</th>
                <th>Mô Tả Giao Dịch</th>

              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let transaction of transactionHistoryList; let i = index">
                <td>{{i + 1}}</td>
                <td>{{transaction.transactionDate}}</td>
                <td>{{transaction.description}}</td>
              </tr>
              </tbody>

            </table>

          </form>
        </div>
      </div>
      <!--            </div>-->
      <br>
    </div>
  </div>
</div>

