
<div class="container-fluid">
  <div class="row">
    <!--    account-manager start-->
    <div class=" container-fluid  col-lg-4" style="background-color:rgba(168,162,161,0.15)">
      <!--            <div class="card" style="border-style: solid; border-color: coral">-->
      <div class="card-title">QUẢN LÝ TÀI KHOẢN</div>
      <div class="card-body">
        <div style="text-align:center">
          <ul>
            <li><a href="https://vnexpress.net/"><img class="avatar"
                                                      style="width: 120px; height: 120px"
                                                      src="" alt=""></a></li>
            <li>Jack</li>
            <li>Điểm Tích Lũy: 1000</li>
            <li>
              <button type="submit" class="btn btn-primary">Đăng Xuất</button>
            </li>
          </ul>
        </div>
        <br>
        <br>
        <div>
          <button class=" w3-button "><i class="fas fa-user"></i> THÔNG TIN TÀI KHOẢN</button>
        </div>
        <div>
          <button class="w3-button "><i class="fas fa-history"></i> LỊCH SỬ</button>
        </div>
        <div>
          <button class=" w3-button "><i class="fas fa-ticket-alt"></i> QUẢN LÝ ĐẶT VÉ</button>
        </div>
      </div>
      <!--            </div>-->
    </div>
    <!--    account-manager end-->
    <br>
    <div class="container-fluid col-lg-8">
      <!--            <div class="card" style="border-style: solid; border-color: coral">-->
      <div class="card-title">LỊCH SỬ CỘNG ĐIỂM VÀ SỬ DỤNG ĐIỂM</div>
      <div class="card-body">
        <div>
          <form>
            <table class="table table-hover table-borderless">
              <tbody>
              <tr>
                <td style="width: 220px">
                  <label for="startDate">Ngày Bắt Đầu</label>
                  <span style="color: red" class="asterisk-red">(*):</span>

                </td>
                <td>
                  <input type="date" style="width: 300px" class="form-control"
                         placeholder="10/6/2021"
                         id="startDate"/>
                </td>
              </tr>
              <tr>
                <td style="width: 220px">
                  <label for="endDate">Ngày Kết Thúc</label>
                  <span style="color: red" class="asterisk-red">(*):</span>

                </td>
                <td>
                  <input type="date" style="width: 300px" class="form-control"
                         placeholder="10/6/2021"
                         id="endDate"/>
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <input type="radio" class="form-check-input" value=true/>Lịch Sử Cộng Điểm
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <input type="radio" class="form-check-input" value=true/>Lịch Sử Dùng Điểm
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <button type="submit" class="btn btn-primary">Xem Điểm</button>
                </td>
              </tr>
              </tbody>
            </table>

            <br>
            <!-- --------------------------                       ---------------->
            <table class="table table-hover">
              <thead>
              <tr>
                <th>STT</th>
                <th>Hình Ảnh</th>
                <th>Ngày Đặt</th>
                <th>Tên Phim</th>
                <th>Mô Tả</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1</td>
                <td><img style="width: 100px;height: 60px" src="" alt=""></td>
                <td>10/06/2021</td>
                <td> Bẫy Rồng</td>
                <td>Bạn Được Cộng 100 Điểm</td>
              </tr>
              <tr>
                <td>2</td>
                <td><img style="width: 100px;height: 60px" src="" alt="">
                </td>
                <td>11/06/2021</td>
                <td> Đội Bóng Thiếu Lâm</td>
                <td>Bạn Được Cộng 100 Điểm</td>
              </tr>
              </tbody>

            </table>
            <nav aria-label="..." style="float: right">
              <ul class="pagination">
                <li class="page-item disabled">
                  <span class="page-link">Đầu </span>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                             <span class="page-link">2
                                 <span class="sr-only">(current)</span>
                             </span>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Sau</a>
                </li>
              </ul>
            </nav>
          </form>
        </div>
      </div>
      <!--            </div>-->
      <br>
    </div>
  </div>
</div>

