.header {
  background-image: url(../../../../assets/layout-images/header-wrap-background.jpg);
  position: relative;
  background-size: 100% 100%;
  height: 111px;
  z-index: 77;
}

.header::before {
  content: "";
  background: #383839 url(../../../../assets/layout-images/menu-background-wrapper-left.jpg);
  width: calc(50% - 570px);
  left: 0;
  height: 128px;
  background-size: 100% 100%;
  position: absolute;
}

.header-wrap {
  background-image: url(../../../../assets/layout-images/header-background.png);
  background-repeat: no-repeat;
  max-width: 1252px;
  margin: 0 auto;
  height: 128px;
  position: relative;
  z-index: 999;
  /* box-shadow: 0 0 8px #f26b39; */
}

.header-wrap .logo-wrap {
  width: 300px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  /*float: left;*/
}

.img img {
  width: 240px;
  vertical-align: middle;
  border: 0;
}

.header-content {
  margin: 0 0 0 80px;
  color: white;
}

.header-wrap .header-content {
  /*float: left;*/
  /*width: 840px;*/
  width: 100%;
  padding-left: 0;
  height: 111px;
  position: relative;
}

.topbar-group {
  display: flex;
  padding-top: 10px;
  height: auto;
  width: 100%;
}

.topbar-group .topbar-left {
  float: left;
  width: 70%;
  /*margin: auto 0;*/
}

.topbar-group .topbar-right {
  float: right;
  width: 30%;
}

.search-box {
  margin-top: 3px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;

}

.btn-search {
  border: #f26b39;
}

.search-box label {
  width: 100%;
}

.input-search {
  border-right: none;
}

.input-group .btn {
  border: 1px solid #ced4da;
  box-shadow: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.header-wrap .member-register {
  background: none;
  width: auto;
  padding: 10px 0;
  position: relative;
  float: right;
}

.header-wrap .member-register .register-icon {
  background: none;
  margin-top: 0;
}

.member-register .register-icon {
  text-align: center;
  background: #707070;
  line-height: 32px;
}

.member-register .register-icon > ul {
  margin: 0;
  padding: 0;
}

.member-register .register-icon > ul li {
  list-style: none;
  float: left;
}

.member-register .register-icon > ul li a {
  background: none;
  padding: 0 5px;
  font-size: 16px;
  font-weight: 300;
  height: 26px;
  line-height: 24px;
  display: block;
  text-decoration: none;
}

.member-register .register-icon > ul li:first-child {
  width: 95px;
  padding-right: 0;
}

.member-register .register-icon > ul li a.register {
  color: #f26b39;
  position: relative;
  font-weight: bold;
}

.member-register .register-icon > ul li:last-child {
  width: 102px;
  float: right;
  padding-right: 0;
}

.member-register .register-icon > ul li a.login {
  color: #000;
  background: #f26b39;
  text-align: center;
  position: relative;
  font-weight: bold;
}

.header-wrap .menu-wrap .menu ul {
  /*padding-left: 0;*/
  /*list-style: none;*/
  /*text-align: left;*/
  /*margin-bottom: 0;*/
  /*margin-top: 0;*/
  display: flex;
  align-items: stretch; /* Default */
  justify-content: space-between;
  width: 100%;
  /*background: #cacaca;*/
  margin: auto 0;
  padding: 0;
}

.header-wrap .menu-wrap .menu ul li {
  /*display: inline-block;*/
  display: block;
  /*margin-left: auto;*/
  text-transform: uppercase;
  font-family: 'UTMNeutra', sans-serif;
  padding-top: 20px;
  flex: 0 1 auto;
}

.header-wrap .menu-wrap .menu ul li a {
  /* color: #313132; */
  color: #000;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
