<form [formGroup]="rfEditForm" (ngSubmit)="onSubmit()">
<table class="table table-hover">
    <body>
    <tr>
      <th>Tên Phim <span style="color: red;">*</span></th>
      <td>
        <select class="form-control">
          <option value="" selected disabled>Vui lòng chọn phim</option>
          <option>SPIDER-MAN: NO WAY HOME</option>

        </select>
        <p class="textErr">Tên phim không được để trống</p>

      </td>
    </tr>
    <tr>
      <th>Suất Chiếu <span style="color: red;">*</span></th>
      <td>
        <select class="form-control">
          <option value="" selected disabled>Vui lòng chọn Suất chiếu</option>
          <option *ngFor="let showTime of showTimes" [ngValue]="showTime">{{showTime.showTime}}</option>

        </select>
        <p class="textErr">Suất chiếu không được để trống</p>
      </td>
    </tr>
    <tr>
      <th>Loại Chiếu <span style="color: red;">*</span></th>
      <td>
        <select class="form-control">
          <option value="" selected disabled>Vui lòng chọn loại chiếu</option>
          <option *ngFor="let projectionType of projectionTypes" [ngValue]="projectionType">{{projectionType.projectionName}}</option>

        </select>
        <p class="textErr">Loại chiếu không được để trống</p>
      </td>

    </tr>
    <tr>
      <th>Ngày Chiếu <span style="color: red;">*</span></th>
      <td>
        <input type="date" placeholder="Chọn ngày chiếu" class="form-control">
        <p class="textErr">Ngày chiếu không được để trống</p>
      </td>

    </tr>
    </body>
  </table>
  <div class="modal-footer row d-flex justify-content-center">
    <button class="btn btn-primary" style="width: 100px;margin-right: 20px" (click)="editMovieTicket()">Lưu
    </button>
    <button class="btn btn-secondary" style="width: 100px;margin-right: 20px"
            (click)="close()">Huỷ
    </button>

  </div>
</form>
