<div class="container-fluid" id="fluid">
  <div id="follow-div" class="row m-0 p-0">
    <div class="follow col-lg-3 col-md-3">
      <p class="follow-title">chọn phim</p>
    </div>
    <div class="follow col-lg-3 col-md-3">
      <p class="follow-title" (click)="back()">chọn ghế</p>
    </div>
    <div class="follow col-lg-3 col-md-3">
      <p class="follow-title" id="active">xác nhận đặt vé</p>
    </div>
    <div class="follow col-lg-3 col-md-3">
      <p class="follow-title">thông tin đặt vé</p>
    </div>
  </div>

<!--  <hr class="d-inline-block"-->
<!--      style="width: 99%; height: 1px; background-color: lightgray">-->

  <div class="container-fluid row p-0 m-0 mt-3">
    <div class="col-lg-3 col-md-4" id="img-div">
      <p class="movie-picked-title" style="font-size: 1.3rem">Thông tin đặt vé</p>
      <img [src]="movieTicket.movie.posterMovie"
           alt="img">
    </div>
    <div class="col-lg-7 col-md-8 pl-3" *ngIf="movieTicket">
      <table class="table table-hover" id="table-booking-infor">
        <thead class="text-center">
        <tr>
          <td colspan="2">
            <span class="movie-picked-title">Spider Man 2</span>
          </td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Rạp</td>
          <td>
            <p class="red">{{movieTicket.room.roomName}}</p>
          </td>
        </tr>
        <tr>
          <td>Ngày chiếu</td>
          <td class="red">{{movieTicket.showDate | date:'dd-MM-yyyy'}}</td>
        </tr>
        <tr>
          <td>Giờ chiếu</td>
          <td class="red">{{movieTicket.showTime.showTime}}</td>
        </tr>
        <tr>
          <td>Ghế</td>
          <td>
            <span *ngFor="let roomSeat of listChoseSeat; let i = index">
              {{roomSeat.seat.row.rowName}}{{roomSeat.seat.column.columnName}}
              <span *ngIf="i != listChoseSeat.length - 1">,</span>
            </span>
          </td>
        </tr>
        <tr>
          <td>Vé</td>
          <td>
            <div class="col-12 row m-0 p-0">
              <div class="col-lg-6 col-md-5 col-sm-5 col-5">
                <p>
                  <strong>Số ghế</strong>
                </p>
                <p *ngFor="let roomSeat of listChoseSeat">
                  {{roomSeat.seat.row.rowName}}{{roomSeat.seat.column.columnName}}
                </p>
                <p>
                  <strong>Tổng tiền</strong>
                </p>
              </div>
              <div class="col-lg-6 col-md-7 col-sm-7 col-7">
                <p>
                  <strong>Giá vé</strong>
                </p>
                <div *ngFor="let roomSeat of listChoseSeat">
                  <p *ngIf="roomSeat.seat.seatType.seatTypeId == 1">{{movieTicket.ticketPrice | number}} VND</p>
                  <p *ngIf="roomSeat.seat.seatType.seatTypeId == 2">{{movieTicket.ticketPrice * (4 / 3) | number}} VND</p>
                </div>
                <p>
                  <strong>{{totalMoney | number}} VND</strong>
                </p>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

      <table class="table table-hover table-personal-info" *ngIf="user">
        <thead>
        <tr>
          <td colspan="2">
            <p class="movie-picked-title" style="font-size: 1.3rem">kiểm tra thông tin cá nhân</p>
          </td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Họ và tên</td>
          <td class="text-uppercase">{{user.name}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{user.email}}</td>
        </tr>
        <tr>
          <td>CMND</td>
          <td>{{user.idCard}}</td>
        </tr>
        <tr>
          <td>Số điện thoại</td>
          <td>{{user.phone}}</td>
        </tr>
        </tbody>
      </table>

      <form [formGroup]="createUserForm">
        <table *ngIf="user === null" class="table table-hover table-personal-info">
          <thead>
          <tr>
            <td colspan="2">
              <p class="movie-picked-title" style="font-size: 1.3rem">kiểm tra thông tin cá nhân</p>
            </td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Họ và tên</td>
            <td>
              <input placeholder="Nhập họ và tên" class="form-control" formControlName="name" type="text">
              <div *ngIf="createUserForm.controls.name.invalid && (createUserForm.controls.name.dirty||createUserForm.controls.name.touched)" class="mt-1">
                <span style="color: red" [hidden]="!createUserForm.controls.name.errors.required">*Bạn chưa nhập họ và tên !</span>
                <span style="color: red" [hidden]="!createUserForm.controls.name.errors.pattern">*Bạn nhập họ tên không hợp lệ!</span>
              </div>
            </td>
          </tr>
          <tr>
            <td>Email</td>
            <td>
              <input placeholder="Nhập email"  class="form-control" formControlName="email" type="text">
              <div *ngIf="createUserForm.controls.email.invalid && (createUserForm.controls.email.dirty||createUserForm.controls.email.touched)" class="mt-1">
                <span style="color: red" [hidden]="!createUserForm.controls.email.errors.required">*Bạn chưa nhập email !</span>
                <span style="color: red" [hidden]="!createUserForm.controls.email.errors.pattern">*Bạn nhập email không hợp lệ !</span>
              </div>
            </td>
          </tr>
          <tr>
            <td>CMND</td>
            <td>
              <input placeholder="Nhập số điện thoại" class="form-control" formControlName="phone" type="text">
              <div *ngIf="createUserForm.controls.idCard.invalid && (createUserForm.controls.idCard.dirty||createUserForm.controls.idCard.touched)" class="mt-1">
                <span style="color: red" [hidden]="!createUserForm.controls.idCard.errors.required">*Bạn chưa nhập CMND !</span>
                <span style="color: red" [hidden]="!createUserForm.controls.idCard.errors.pattern">*Bạn nhập CMND không hợp lệ!</span>
              </div>
            </td>
          </tr>
          <tr>
            <td>Số điện thoại</td>
            <td>
              <input placeholder="Nhập số điện thoại" class="form-control" formControlName="phone" type="text">
              <div *ngIf="createUserForm.controls.phone.invalid && (createUserForm.controls.phone.dirty||createUserForm.controls.phone.touched)" class="mt-1">
                <span style="color: red" [hidden]="!createUserForm.controls.phone.errors.required">*Bạn chưa nhập số điện thoại !</span>
                <span style="color: red" [hidden]="!createUserForm.controls.phone.errors.pattern">*Bạn nhập số điện thoại không hợp lệ!</span>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </form>
    </div>
    <div class="col-lg-2"></div>
  </div>

  <div id="btnConfirm" *ngIf="!isConfirmed" class="text-center">
    <a>
      <button class="btn btn-outline-primary rounded-pill" type="button" (click)="back()">
        <span class="arrow">
          <i class="fas fa-2x fa-arrow-left"></i>
        </span>
      </button>
    </a>
    <button class="btn btn-outline-primary rounded-pill" type="button"
            data-toggle="modal" data-target="#confirmModal"
            [disabled]="!user && createUserForm.invalid">
        <span class="ticket">
          <img src="../../../../assets/img/cinema-ticket.png" height="34" width="34"/>
        </span>
      Xác nhận đặt vé
    </button>
  </div>
</div>

<!--confirm Modal-->
<div class="modal" tabindex="-1" role="dialog" id="confirmModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase">Xác nhận đặt vé</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Bạn xác nhận sẽ đặt 0{{listChoseSeat.length}} vé : {{ticketName}} ?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <div class="m-0 p-0"
             style="width: 60%;height:50px;font-size: 13px;font-weight: bolder"
             #paypal>
        </div>
        <button type="button" class="btn btn-primary" (click)="confirmCreate()">Xác nhận</button>
      </div>
    </div>
  </div>
</div>
