<div class="container">
  <div class="row mt-5">
    <div class="col- mr-3">
      <div class="form-group">
        <label>Thống kê theo</label>
        <select class="form-control" [(ngModel)]="statBy">
          <option value="ngay">Ngày</option>
          <option value="thang">Tháng</option>
          <option value="nam">Năm</option>
        </select>
      </div>
    </div>
    <div class="col- mr-3" *ngIf="statBy === 'ngay'">
      <label>Ngày bắt đầu</label>
      <input type="date" class="form-control" [(ngModel)]="startDate">
    </div>
    <div class="col- mr-3" *ngIf="statBy === 'ngay'">
      <label>Ngày kết thúc</label>
      <input type="date" class="form-control" [(ngModel)]="endDate">
    </div>
    <div class="col- mr-3" *ngIf="statBy === 'thang' ||statBy ==='nam'">
      <div class="form-group">
        <label>Năm</label>
        <select class="form-control" [(ngModel)]="year">
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021" selected>2021</option>
        </select>
      </div>
    </div>
    <div class="col- mr-3" *ngIf="statBy === 'thang'">
      <div class="form-group">
        <label>Tháng</label>
        <select class="form-control" [(ngModel)]="month">
          <option value="1">Tháng 1</option>
          <option value="2">Tháng 2</option>
          <option value="3">Tháng 3</option>
          <option value="4">Tháng 4</option>
          <option value="5">Tháng 5</option>
          <option value="6">Tháng 6</option>
          <option value="7">Tháng 7</option>
          <option value="7">Tháng 8</option>
          <option value="9">Tháng 9</option>
          <option value="10">Tháng 10</option>
          <option value="11">Tháng 11</option>
          <option value="12">Tháng 12</option>
        </select>
      </div>
    </div>
    <div class="col-">
      <label>Chức năng</label><br>
      <button type="submit" class="btn btn-primary" (click)="onStatByDate()" *ngIf="statBy === 'ngay'">Thống Kê</button>
      <button type="submit" class="btn btn-primary" (click)="onStatByMonth()" *ngIf="statBy === 'thang'">Thống
        Kê</button>
      <button type="submit" class="btn btn-primary" (click)="onStatByYear()" *ngIf="statBy === 'nam'">Thống Kê</button>
    </div>
  </div>
  <div class="card p-3">
    <h5>Thống kê phim</h5>
    <p-chart type="bar" [data]="multiAxisData" [options]="multiAxisOptions"></p-chart>
  </div>

</div>
